body {
    margin: 0 auto;

    background-color: #181818;
    --second-color: #747474;

    color: #dfdddd;
    font-family: 'consolas';
}

.app {
    display: flex;
    justify-content: space-around;

    margin: 25px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 40px;
    font-weight: normal;
}

#canvas {
    display: block;
    margin: 0 auto;

    border: 1px solid var(--second-color);
}

.commands {
    margin: 25px;
    text-align: center;
}

.button {
    margin: 5px;
}